<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlueChestCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BlueChestCounter.Properties.Settings>
            <setting name="GoldBar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GoldBarPercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlueChest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlueChestPercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoBlueChest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoronationRing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoronationRingPercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineageRing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineageRingPercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntricacyRing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IntricacyRingPercentage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NoBlueChestCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TodayTotalFight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalFight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalCoronationRing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalLineageRing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalIntricacyRing" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalGoldBar" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalBlueChest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastGoldBarDate" serializeAs="String">
                <value />
            </setting>
            <setting name="OverallFight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalCoronationRingP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalLineageRingP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalIntricacyRingP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalGoldBarP" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalBlueChestP" serializeAs="String">
                <value>0</value>
            </setting>
        </BlueChestCounter.Properties.Settings>
    </userSettings>
</configuration>